body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f9;
}
h1 {
  color: #333;
}
input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
#qrcode {
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
#imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
#email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}
#sociales a {
  font-size: 30px; /* Tamaño del ícono */
  margin: 0 15px; /* Espaciado entre los íconos */
  color: #0077b5; /* Color azul de LinkedIn (puedes cambiar el código hexadecimal por otro tono de azul) */
  text-decoration: none; /* Elimina el subrayado */
  transition: color 0.3s ease; /* Animación suave al pasar el ratón */
}

#sociales a:hover {
  color: #005582; /* Cambia el color al pasar el ratón */
}

/* Colores específicos para cada red */
#gmail {
  color: #d44638; /* Rojo para Gmail */
}

#github {
  color: #333; /* Negro para GitHub */
}

#linkedin {
  color: #0077b5; /* Azul para LinkedIn */
}
